@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.tips {
    font-family: Times New Roman;
    color: #C11C84;
    font-size: 20px;
}

.car {
    height: 40vh;
    width: 50vw;
    text-align: center;
    margin-left: 200px;
    margin-top: 60px;
    margin-right: 100px;
    border-radius: 5px;
}

.footer {
    background-color: black;
    text-align: center;
    color: #C11C84;
}

.yt {
    margin: 10px;
    padding: 10px;
    height: 60vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #C11C84;
}

.img {
    height: 50vh;
    width: 50vw;
    margin: 10px;
    padding: 10px;
    border: 5px solid #C11C84;
}
